<div mat-dialog-title> Are you sure to delete selected school ? </div>
<div mat-dialog-content>
    <div *ngIf="deletingInProgress">
        <mat-spinner></mat-spinner>
        <br>
        <mat-label>Deleting...</mat-label>
    </div>
    <div *ngIf="!deletingInProgress">
        <mat-label>{{selectedItem.name}}</mat-label>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button type="button" [mat-dialog-close]="false" color="warn">No</button>
    <button mat-raised-button color="primary" (click)="onConfirmButton()" type="submit">Yes</button>
</div>