<div class="options-container">
    <mat-card>
        <mat-card-actions>
            <div class="action">
                <button mat-fab extended color="accent" (click)="onAddButtonClick()">
                    <mat-icon>library_add</mat-icon>
                    Add
                </button>
            </div>
            <div class="action">
                <button mat-fab extended color="accent" (click)="onShowButtonClick()">
                    <mat-icon>remove_red_eye</mat-icon>
                    Show
                </button>
            </div>
            <div class="action">
                <button mat-fab extended color="accent" (click)="onEditButtonClick()">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
            </div>
            <div class="action">
                <button mat-fab extended color="warn" (click)="onRemoveButtonClick()">
                    <mat-icon>remove</mat-icon>
                    Delete
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>